{% extends "master.html" %}

{% from "macros.html" import render_table %}
{% from "macros.html" import render_form %}

{% block content %}
<div class="row col-12 justify-content-center p-0 m-0">
    <div class="row col-10 justify-content-center p-0 m-0">
        <h3 class="h3 col-12 text-center mb-3 text-black">Clientes</h3>
        <div class="row col-12 justify-content-center mb-3">
            <a onclick="decidirCliente(NaN)" class="btn-small btn-rose btn mr-2 text-white"><i class="fas fa-plus mr-2"></i>Agregar</a>
            <input id="txtBusqueda" name="txtBusqueda" type="text" class="form-control search col-8" placeholder="Buscar Clientes">
            <button href="#" class="btn-small btn btn-search"><i class="fas fa-search"></i></button>
        </div>
        {{render_table(clientes, "clientes")}}
    </div>
</div>

<div class="modal fade" id="modalClientes" tabindex="-1" role="dialog" aria-labelledby="modalClientesLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalClientesLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="POST" action="/clientes/guardar" class="form form-inline col-12">
                {{render_form("clientes")}}
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Guardar</button>
          </form>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}