{% extends "master.html" %}
{% block content %}
<div class="row col-12 justify-content-center p-0 m-0">
    <div class="row col-12 justify-content-center mt-5">
    <div class="row col-6 justify-content-center p-0 m-0">
        <div class="text-">
            <img src="../static/img/hombre_y_herramientas-1.jpg" height="300px" class="rounded" alt="...">
          </div>
    </div>
    <div class="row col-6 justify-content-center p-0 m-0">
        <div class="text-center">
            <p class="font-weight-bold h3">Historia</p>
            <div class="text-left mt-4">
                <div class="card-text text-justify">
                    Contoso fue una empresa fundada en 1985 en León, Guanajuato, México por los señores Mauricio Santos Meza y Alejandro García Mendoza, 
                    al inicio, esta empresa únicamente vendía zapatos de mujer, pero con lo largo del tiempo fueron comprando maquinas 
                    para ellos fabricar sus propios zapatos, comenzaron fabricando zapatos de mujer hasta 1992 fue cuando se dieron cuenta 
                    que podrían ser más exitosos en otros mercados como el de hombre, para 1995 se hicieron famosos en su estado y todo el país 
                    comenzó a comprarles zapato de hombre, fue tanta la demanda que decidieron solo hacer zapato de hombre y distribuirlos por todo el país 
                    y de esta manera poco a poco fueron creciendo hasta vender su producto en todo el continente.

                </div>
    
            </div>
        </div>
    </div>
    </div>
    <p class="font-weight-bold h3 mt-5">Nuestra Misión, Visión y Valores.</p>

    <div class="card-deck mt-5">
        <div class="card">
          <div class="card-body ">
            <div class="card-header"><h5 class="card-title text-center">Misión</h5></div>
            
            <p class="card-text mt-4"> Nuestra misión es llevar zapatos casuales e innovadores a nuestros proveedores.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="card-header"><h5 class="card-title text-center">Visión</h5></div>
            <p class="card-text mt-4"> Nuestra visión es fabricar zapatos de alta calidad con autenticidad e Innovación.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="card-header"><h5 class="card-title text-center">Valores</h5></div>
            <ul class="mt-4">
                <li>Responsabilidad</li>
                <li>Integridad </li>
                <li>Colaboración</li>
                <li>Innovación</li>
              </ul>
          </div>
        </div>
      </div>
      <div class="row col-12 justify-content-center mt-5">
        
        <div class="row col-6 justify-content-center">
            <div class="text-center">
                <p class="font-weight-bold h3">Nuestros productos</p>
                <div class="text-left mt-4">
                    <div class="card-text text-justify m">
                        Nuestra empresa se dedica a fabricar zapatos de vestir para los hombres, la mayoría son hechos de piel, 
                        aunque también manejamos sintéticos de diversos colores pero nos inclinamos a la gama de café y camel, 
                        aunque llevamos años en la industria cada temporada innovamos nuestro calzado y fabricamos zapato que se 
                        vuelve tendencia. 
    
                    </div>
        
                </div>
            </div>
        </div>
        <div class="row col-6 justify-content-center m-2 p-0 m-0">
            <div class="text-">
                <img src="../static/img/Zapatos-Vestir.jpg" height="300px" class="rounded" alt="...">
              </div>
        </div>
        </div>
</div>
{% endblock %}