{% macro render_table(objects, type) %}
<div class="table-responsive col-12">
    <table class="table table-striped">
        <thead class="text-white" style="background-color: #DB7B7B;">
            <tr>
                {% if type=="clientes" %}
                    <th>id</th>
                    <th>Empresa</th>
                    <th>Contacto</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Dirección</th>
                    <th>RFC</th>
                    <th>Acciones</th>
                {% elif type=="proveedores" %}
                    <th>id</th>
                    <th>Empresa</th>
                    <th>Contacto</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Dirección</th>
                    <th>RFC</th>
                    <th>Acciones</th>
                {% elif type=="productos" %}
                    <th>id</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Acciones</th>
                {% elif type=="materia" %}
                    <th>id</th>
                    <th>Nombre</th>
                    <th>Costo</th>
                    <th>Cantidad</th>
                    <th>Acciones</th>
                {% elif type=="compras" %}
                    <th>Num. Compra</th>
                    <th>Proveedor</th>
                    <th>Costo</th>
                    <th>Fecha</th>
                    <th>Comentarios</th>
                    <th>Acciones</th>
                {% elif type=="ventas" %}
                    <th>Num. Venta</th>
                    <th>Cliente</th>
                    <th>Costo</th>
                    <th>Fecha</th>
                    <th>Comentarios</th>
                    <th>Acciones</th>
                {% elif type=="usuarios" %}
                    <th>Usuario</th>
                    <th>Rol</th>
                    <th>Activo</th>
                {% endif %}
            </tr>
        </thead>
        <tbody class="text-black">
            {% if type=="clientes" %}
                {% for cliente in objects %}
                    <tr>
                        <td>{{cliente.id_cliente}}</td>
                        <td>{{cliente.nombre_empresa}}</td>
                        <td>{{cliente.contacto}}</td>
                        <td>{{cliente.eamil}}</td>
                        <td>{{cliente.telefono}}</td>
                        <td>{{cliente.direccion}}</td>
                        <td>{{cliente.rfc}}</td>
                        <td>
                            <a onclick="decidirCliente('{{cliente}}')" class="mr-3 btn-small btn-primary btn text-white"><i class="fas fa-pen"></i></a>
                            <a onclick="eliminarCliente('{{cliente.id}}')" class="btn-small btn-danger btn text-white"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            {% elif type=="proveedores" %}
                {% for proveedor in objects %}
                    <tr>
                        <td>{{proveedor.id_proveedor}}</td>
                        <td>{{proveedor.nombre_empresa}}</td>
                        <td>{{proveedor.contacto}}</td>
                        <td>{{proveedor.eamil}}</td>
                        <td>{{proveedor.telefono}}</td>
                        <td>{{proveedor.direccion}}</td>
                        <td>{{proveedor.rfc}}</td>
                        <td>
                            <a onclick="decidirProveedor('{{proveedor}}')" class="mr-3 btn-small btn-primary btn text-white"><i class="fas fa-pen"></i></a>
                            <a onclick="eliminarProveedor('{{proveedor.id_proveedor}}')" class="btn-small btn-danger btn text-white"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            {% elif type=="productos" %}
                {% for producto in objects %}
                    <tr>
                        <td>{{producto.id_producto}}</td>
                        <td>{{producto.nombre}}</td>
                        <td>{{producto.descripcion}}</td>
                        <td>{{producto.precio}}</td>
                        <td>{{producto.cantidad}}</td>
                        <td>
                            <a onclick="decidirProducto('{{producto}}')" class="mr-3 btn-small btn-primary btn text-white"><i class="fas fa-pen"></i></a>
                            <a onclick="agregarEjemplares('{{producto}}')" class="btn-small btn-warning btn text-white"><i class="fas fa-plus"></i></a>
                            <a onclick="eliminarProducto('{{producto.id_producto}}')" class="btn-small btn-danger btn text-white"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            {% elif type=="materia" %}
                {% for materia in objects %}
                    <tr>
                        <td>{{materia.id_materia}}</td>
                        <td>{{materia.nombre}}</td>
                        <td>{{materia.precio}}</td>
                        <td>{{materia.cantidad}} {{materia.unidad}}</td>
                        <td>
                            <a onclick="decidirMateria('{{materia}}')" class="mr-3 btn-small btn-primary btn text-white"><i class="fas fa-pen"></i></a>
                            <a onclick="eliminarMateria('{{materia.id_materia}}')" class="btn-small btn-danger btn text-white"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            {% elif type=="compras" %}
                {% for compra in objects %}
                    <tr>
                        <td>{{compra.id_compra}}</td>
                        <td>{{compra.proveedor}}</td>
                        <td>{{compra.precio}}</td>
                        <td>{{compra.fecha}}</td>
                        <td>{{compra.comentarios}}</td>
                        <td>
                            <a onclick="decidirCompra('{{compra}}')" class="mr-3 btn-small btn-primary btn text-white"><i class="fas fa-pen"></i></a>
                            <a onclick="eliminarCompra('{{compra.id_compra}}')" class="btn-small btn-danger btn text-white"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            {% elif type=="ventas" %}
                {% for venta in objects %}
                    <tr>
                        <td>{{venta.id_venta}}</td>
                        <td>{{venta.cliente}}</td>
                        <td>{{venta.precio}}</td>
                        <td>{{venta.fecha}}</td>
                        <td>{{venta.comentarios}}</td>
                        <td>
                            <a onclick="decidirVenta('{{venta}}')" class="mr-3 btn-small btn-primary btn text-white"><i class="fas fa-pen"></i></a>
                            <a onclick="eliminarVenta('{{venta.id_venta}}')" class="btn-small btn-danger btn text-white"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
{% endmacro %}