{% macro header_clientes() %}

    <th>id</th>
    <th>Empresa</th>
    <th>Contacto</th>
    <th>Email</th>
    <th>Teléfono</th>
    <th>Dirección</th>
    <th>RFC</th>
    <th>Acciones</th>

{% endmacro %}

{% macro header_proveedores() %}

    <th>id</th>
    <th>Empresa</th>
    <th>Contacto</th>
    <th>Email</th>
    <th>Teléfono</th>
    <th>Dirección</th>
    <th>RFC</th>
    <th>Acciones</th>

{% endmacro %}

{% macro header_productos() %}

    <th>id</th>
    <th>Nombre</th>
    <th>Descripción</th>
    <th>Precio</th>
    <th>Cantidad</th>
    <th>Acciones</th>

{% endmacro %}

{% macro header_ejemplares() %}

    <th>Talla</th>
    <th>Color</th>
    <th>Cantidad</th>
    <th>Acciones</th>

{% endmacro %}

{% macro header_materia() %}

    <th>id</th>
    <th>Nombre</th>
    <th>Costo</th>
    <th>Cantidad</th>
    <th>Acciones</th>

{% endmacro %}

{% macro header_compras() %}

    <th>Num. Compra</th>
    <th>Proveedor</th>
    <th>Costo</th>
    <th>Fecha</th>
    <th>Comentarios</th>
    <th>Estado</th>
    <th>Acciones</th>

{% endmacro %}

{% macro header_detalles_compras() %}

    <th>Cantidad</th>
    <th>Subtotal</th>
    <th>Producto</th>
    <th>Acciones</th>

{% endmacro %}

{% macro header_detalles_compras() %}

    <th>Cantidad</th>
    <th>Subtotal</th>
    <th>Producto</th>
    <th>Acciones</th>

{% endmacro %}

{% macro header_admin() %}

    <th>Nombre</th>
    <th>Email</th>
    <th>Rol</th>
    <th>Acciones</th>

{% endmacro %}



{% macro header_ventas() %}

    <th>Num. Venta</th>
    <th>Cliente</th>
    <th>Precio</th>
    <th>Fecha</th>
    <th>Comentarios</th>
    <th>Acciones</th>

{% endmacro %}

{% macro table_clientes(clientes) %}

    {% for cliente in clientes %}
    <tr>
        <td>{{cliente.id}}</td>
        <td>{{cliente.nombre_empresa}}</td>
        <td>{{cliente.contacto}}</td>
        <td>{{cliente.email}}</td>
        <td>{{cliente.telefono}}</td>
        <td>{{cliente.direccion}}</td>
        <td>{{cliente.rfc}}</td>
        <td>
            <a onclick='mostrarModalClienteModificar({{cliente.toJson()|string}})' class="mr-3 btn-small btn-primary btn text-white"><i class="fas fa-pen"></i></a>
            <a onclick="confirmarCliente('{{cliente.id}}','{{cliente.nombre_empresa}}')" class="btn-small btn-danger btn text-white"><i class="fas fa-trash"></i></a>
        </td>
    </tr>
    {% endfor %}

{% endmacro %}

{% macro table_proveedores(proveedores) %}

    {% for proveedor in proveedores %}
    <tr>
        <td>{{proveedor.id_proveedor}}</td>
        <td>{{proveedor.nombre_empresa}}</td>
        <td>{{proveedor.contacto}}</td>
        <td>{{proveedor.email}}</td>
        <td>{{proveedor.telefono}}</td>
        <td>{{proveedor.direccion}}</td>
        <td>{{proveedor.RFC}}</td>
        <td>
            <a onclick='mostrarModalProveedorModificar({{proveedor.toJson()|string}})' class="mr-3 btn-small btn-primary btn text-white"><i class="fas fa-pen"></i></a>
            <a onclick="confirmarProveedor('{{proveedor.id_proveedor}}', '{{proveedor.nombre_empresa}}')" class="btn-small btn-danger btn text-white"><i class="fas fa-trash"></i></a>
        </td>
    </tr>
    {% endfor %}

{% endmacro %}

{% macro table_productos(productos) %}

    {% for producto in productos %}
    <tr>
        <td>{{producto.id}}</td>
        <td>{{producto.nombre}}</td>
        <td>{{producto.descripcion}}</td>
        <td>{{producto.precio}}</td>
        <td>{{producto.cantidad}}</td>
        <td>
            <a title="Modificar" onclick="modificarProducto({{producto.toJson() | string}})" class="mr-3 btn-small btn-primary btn text-white"><i class="fas fa-pen"></i></a>
            <a title="Inventario" href="/ejemplares/getByProducto?txtIdP={{producto.id}}" class="mr-3 btn-small btn-info btn text-white"><i class="fas fa-box"></i></a>
            <a title="Eliminar" onclick="confirmarProducto('{{producto.id}}')" class="btn-small btn-danger btn text-white"><i class="fas fa-trash"></i></a>
        </td>
    </tr>
    {% endfor %}

{% endmacro %}

{% macro table_ejemplares(ejemplares) %}

    {% for ejemplar in ejemplares %}
    <tr>
        <td>{{ejemplar.talla}}</td>
        <td>{{ejemplar.color}}</td>
        <td>{{ejemplar.cantidad}}</td>
        <td>
            <a onclick="modificarEjemplar({{ejemplar.toJson() | string}})" class="mr-3 btn-small btn-primary btn text-white"><i class="fas fa-pen"></i></a>
            <a onclick="confirmarEjemplar('{{ejemplar.id}}')" class="btn-small btn-danger btn text-white"><i class="fas fa-trash"></i></a>
        </td>
    </tr>
    {% endfor %}

{% endmacro %}

{% macro table_materia(materias) %}

    {% for materia in materias %}
    <tr>
        <td>{{materia.id}}</td>
        <td>{{materia.nombre}}</td>
        <td>{{materia.costo}}</td>
        <td>{{materia.cantidad}} {{materia.unidad}}</td>
        <td>
            <a onclick='mostrarModalMateriaModificar({{materia.toJson()|string}})' class="mr-3 btn-small btn-primary btn text-white"><i class="fas fa-pen"></i></a>
            <a onclick="confirmarMateria('{{materia.id}}','{{materia.nombre}}')" class="btn-small btn-danger btn text-white"><i class="fas fa-trash"></i></a>
        </td>
    </tr>
    {% endfor %}

{% endmacro %}

{% macro table_compras(compras) %}

    {% for compra in compras %}
    <tr>
        <td>{{compra.id}}</td>
        <td>{{compra.proveedor.nombre_empresa}}</td>
        <td>{{compra.precio}}</td>
        <td>{{compra.fecha_compra}}</td>
        <td>{{compra.comentarios}}</td>
        <td>{{compra.estatus}}</td>
        <td>
            <a href="/compras/ver?id={{compra.id}}" class="mr-3 btn-small btn-primary btn text-white"><i class="fas fa-eye"></i></a>
            <a onclick="eliminarCompra('{{compra.id_compra}}')" class="btn-small btn-danger btn text-white"><i class="fas fa-trash"></i></a>
        </td>
    </tr>
    {% endfor %}

{% endmacro %}

{% macro table_admin(users) %}

    {% for user in users %}
    <tr>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.roles[0].name}}</td>
        <td>
            <a onclick='mostrarModalAdminModificar({{user.toJson()|string}})' class="mr-3 btn-small btn-primary btn text-white"><i class="fas fa-pen"></i></a>
            <a onclick="confirmarAdmin('{{user.id}}','{{user.name}}')" class="btn-small btn-danger btn text-white"><i class="fas fa-trash"></i></a>
        </td>
    </tr>
    {% endfor %}

{% endmacro %}



{% macro table_compras_detalle(detalles) %}

    {% for detalle in detalles %}
    <tr>
        <td>{{detalle.id}}</td>
        <td>{{detalle.precio_unitario}}</td>
        <td>{{detalle.materia.nombre}}</td>
        <td>
            <a href="" class="mr-3 btn-small btn-primary btn text-white"><i class="fas fa-pen"></i></a>
            <a onclick="" class="btn-small btn-danger btn text-white"><i class="fas fa-trash"></i></a>
        </td>
    </tr>
    {% endfor %}

{% endmacro %}

{% macro table_ventas(ventas) %}

    {% for venta in ventas %}
    <tr>
        <td>{{venta.id}}</td>
        <td>{{venta.cliente.nombre_empresa}}</td>
        <td>{{venta.precio}}</td>
        <td>{{venta.date}}</td>
        <td>{{venta.comentarios}}</td>
        <td>
            <a onclick="modificarVentas({{venta.toJson()|string}})" class="mr-3 btn-small btn-primary btn text-white"><i class="fas fa-eye"></i></a>
            <a onclick="confirmarVenta('{{venta.id}}')" class="btn-small btn-danger btn text-white"><i class="fas fa-trash"></i></a>
        </td>
    </tr>
    {% endfor %}

{% endmacro %}

{% macro form_compras(proveedores) %}
    <input id="txtId" name="txtId" type="hidden">
    <div class="form-group col-12 p-0 mb-2">
        <label for="txtPrecio" class="form-control-label form-label">Precio</label>
        <input id="txtPrecio" name="txtPrecio" type="text" class="form-control form-element col-12" required>
    </div>
    <div class="form-group col-12 p-0 mb-2">
        <label for="txtComentario" class="form-control-label form-label">Comentario</label>
        <input id="txtComentario" name="txtComentario" type="text" class="form-control form-element col-12" required>
    </div>
    <div class="form-group col-12 p-0 mb-2">
        <label for="slctProveedor" class="form-control-label form-label">Proveedor</label>
        <select name="slctProveedor" id="slctProveedor" class="form-control form-element col-12">
            {% for proveedor in proveedores %}
            <option value="{{proveedor.id_proveedor}}">{{proveedor.nombre_empresa}}</option>
            {% endfor %}
        </select>

    </div>
    
{% endmacro %}

{% macro form_compras_detalles(materias,id) %}
    <input id="txtId" name="txtId" type="hidden" value="{{id}}">
    <div class="form-group col-12 p-0 mb-2">
        <label for="slctMateria" class="form-control-label form-label">Materias</label>
        <select name="slctMateria" id="slctMateria" class="form-control form-element col-12">
            {% for materia in materias %}
            <option value="{{materia.id}}">{{materia.nombre}}</option>
            {% endfor %}
        </select>

    </div>
    <div class="form-group col-12 p-0 mb-2">
        <label for="txtCantidad" class="form-control-label form-label">Cantidad</label>
        <input id="txtCantidad" name="txtCantidad" type="text" class="form-control form-element col-12" required>
    </div>
    <div class="form-group col-12 p-0 mb-2">
        <label for="txtPrecio" class="form-control-label form-label">Precio unitario</label>
        <input id="txtPrecio" name="txtPrecio" type="text" class="form-control form-element col-12" required>
    </div>
    
    
{% endmacro %}

{% macro form_admin() %}
    <input id="txtId" name="txtId" type="hidden" value="">
    <div class="form-group col-12 p-0 mb-2">
        <label for="slctRol" class="form-control-label form-label">Roles</label>
        <select name="slctRol" id="slctRol" class="form-control form-element col-12">
        </select>
    </div>
    <div class="form-group col-12 p-0 mb-2">
        <label for="txtNombre" class="form-control-label form-label">Email</label>
        <input id="txtNombre" name="txtNombre" type="text" class="form-control form-element col-12" required>
    </div>
    <div class="form-group col-12 p-0 mb-2">
        <label for="txtEmail" class="form-control-label form-label">Nombre</label>
        <input id="txtEmail" name="txtEmail" type="email" class="form-control form-element col-12" required>
    </div>
    <div class="form-group col-12 p-0 mb-2">
        <label for="txtContrasena" class="form-control-label form-label">Password</label>
        <input id="txtContrasena" name="txtContrasena" type="password" class="form-control form-element col-12">
    </div>
{% endmacro %}

{% macro form_clientes() %}
    <div class="form-group col-12 p-0 mb-2">
        <label for="txtNombreEmpresa" class="form-control-label form-label">Nombre Empresa</label>
        <input id="txtNombreEmpresa" name="txtNombreEmpresa" type="text" class="form-control form-element col-12" required>
    </div>
    <div class="form-group col-12 p-0 mb-2">
        <label for="txtEmail" class="form-control-label form-label">Email</label>
        <input id="txtEmail" name="txtEmail" type="email" class="form-control form-element col-12" required>
    </div>
    <div class="form-group col-12 p-0 mb-2">
        <label for="txtTelefono" class="form-control-label form-label">Telefono</label>
        <input id="txtTelefono" name="txtTelefono" type="tel" pattern="[0-9]{1,10}" title="Ingrese número telefonico de 10 digitos" class="form-control form-element col-12" required>
    </div>
    <div class="form-group col-12 p-0 mb-2">
        <label for="txtDireccion" class="form-control-label form-label">Dirección</label>
        <input id="txtDireccion" name="txtDireccion" type="text" class="form-control form-element col-12" required>
    </div>
    <div class="form-group col-12 p-0 mb-2">
        <label for="txtContacto" class="form-control-label form-label">Contacto</label>
        <input id="txtContacto" name="txtContacto" type="text" class="form-control form-element col-12" required>
    </div>
    <div class="form-group col-12 p-0 mb-2">
        <label for="txtRFC" class="form-control-label form-label">RFC</label>
        <input id="txtRFC" name="txtRFC" type="text" pattern="^([A-ZÑ\x26]{3,4}([0-9]{2})(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-9]|3[0-1])([A-Z]|[0-9]){2}([A]|[0-9]){1})?$" title="Ingrese RFC valido. Ejemplo: XXXX000000X00" class="form-control form-element col-12" required>
    </div>
    <input id="txtId" name="txtId" type="hidden">
{% endmacro %}

{% macro form_proveedores() %}
    <div class="form-group col-12 p-0 mb-2">
        <label for="txtNombreEmpresa" class="form-control-label form-label">Nombre Empresa</label>
        <input id="txtNombreEmpresa" name="txtNombreEmpresa" type="text" class="form-control form-element col-12" required>
    </div>
    <div class="form-group col-12 p-0 mb-2">
        <label for="txtEmail" class="form-control-label form-label">Email</label>
        <input id="txtEmail" name="txtEmail" type="email" class="form-control form-element col-12" required>
    </div>
    <div class="form-group col-12 p-0 mb-2">
        <label for="txtTelefono" class="form-control-label form-label">Telefono</label>
        <input id="txtTelefono" name="txtTelefono" type="tel" pattern="[0-9]{1,10}" title="Ingrese número telefonico de 10 digitos" class="form-control form-element col-12" required>
    </div>
    <div class="form-group col-12 p-0 mb-2">
        <label for="txtDireccion" class="form-control-label form-label">Dirección</label>
        <input id="txtDireccion" name="txtDireccion" type="text" class="form-control form-element col-12" required>
    </div>
    <div class="form-group col-12 p-0 mb-2">
        <label for="txtContacto" class="form-control-label form-label">Contacto</label>
        <input id="txtContacto" name="txtContacto" type="text" class="form-control form-element col-12" required>
    </div>
    <div class="form-group col-12 p-0 mb-2">
        <label for="txtRFC" class="form-control-label form-label">RFC</label>
        <input id="txtRFC" name="txtRFC" type="text" pattern="^([A-ZÑ\x26]{3,4}([0-9]{2})(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-9]|3[0-1])([A-Z]|[0-9]){2}([A]|[0-9]){1})?$" title="Ingrese RFC valido. Ejemplo: XXXX000000X00" class="form-control form-element col-12" required>
    </div>
    <input id="txtId" name="txtId" type="hidden">
{% endmacro %}

{% macro form_productos() %}
    <div class="form-group col-12 p-0 mb-2">
        <label for="txtNombre" class="form-control-label form-label">Nombre</label>
        <input id="txtNombre" name="txtNombre" type="text" class="form-control form-element col-12" required>
    </div>
    <div class="form-group col-12 p-0 mb-2">
        <label for="txtPrecio" class="form-control-label form-label">Precio</label>
        <input id="txtPrecio" name="txtPrecio" type="textarea" class="form-control form-element col-12" required>
    </div>
    <div class="form-group col-12 p-0 mb-2">
        <label for="txtCantidad" class="form-control-label form-label">Cantidad</label>
        <input id="txtCantidad" name="txtCantidad" type="text" class="form-control form-element col-12" disabled>
    </div>
    <div class="form-group col-12 p-0 mb-2">
        <label for="txtDescripcion" class="form-control-label form-label">Descripción</label>
        <textarea class="form-control form-element col-12" id="txtDescripcion" name="txtDescripcion" rows="3" required></textarea>
    </div>
    <input id="txtId" name="txtId" type="hidden">
{% endmacro %}

{% macro form_ejemplares() %}
    <div class="form-group col-12 p-0 mb-2">
        <label for="lstTalla" class="form-control-label form-label">Talla</label>
        <select id="lstTalla" name="lstTalla" class="form-control form-element col-12" required>
            <option value="22">22</option>
            <option value="22.5">22.5</option>
            <option value="23">23</option>
            <option value="23.5">23.5</option>
            <option value="24">24</option>
            <option value="24.5">24.5</option>
            <option value="25">25</option>
            <option value="25.5">25.5</option>
            <option value="26">26</option>
            <option value="26.5">26.5</option>
            <option value="27">27</option>
            <option value="27.5">27.5</option>
            <option value="28">28</option>
            <option value="28.5">28.5</option>
            <option value="29">29</option>
            <option value="29.5">29.5</option>
            <option value="30">30</option>
            <option value="30.5">30.5</option>
            <option value="31">31</option>
            <option value="31.5">31.5</option>
        </select>
    </div>
    <div class="form-group col-12 p-0 mb-2">
        <label for="txtColor" class="form-control-label form-label">Color</label>
        <input id="txtColor" name="txtColor" type="textarea" class="form-control form-element col-12" required>
    </div>
    <div class="form-group col-12 p-0 mb-2">
        <label for="txtCantidad" class="form-control-label form-label">Cantidad</label>
        <input id="txtCantidad" name="txtCantidad" type="text" class="form-control form-element col-12" required>
    </div>
    <input id="txtId" name="txtId" type="hidden">
    <input id="txtIdP" name="txtIdP" type="hidden" value="{{idP}}">
{% endmacro %}

{% macro form_materia() %}
    <div class="form-group col-12 p-0 mb-2">
        <label for="txtNombre" class="form-control-label form-label">Nombre</label>
        <input id="txtNombre" name="txtNombre" type="text" class="form-control form-element col-12" required>
    </div>
    <div class="form-group col-12 p-0 mb-2">
        <label for="txtCosto" class="form-control-label form-label">Costo</label>
        <input id="txtCosto" name="txtCosto" type="text" class="form-control form-element col-12" required>
    </div>
    <div class="form-group col-12 p-0 mb-2">
        <label for="txtCantidad" class="form-control-label form-label">Cantidad</label>
        <input id="txtCantidad" name="txtCantidad" type="number" class="form-control form-element col-12" readonly>
    </div>
    <div class="form-group col-12 p-0 mb-2">
        <label for="lstUnidad" class="form-control-label form-label">Unidad</label>
        <select id="lstUnidad" name="lstUnidad" class="form-control form-element col-12" required>
            <option value="dm">Decimetros</option>
            <option value="kg">Kilogramos</option>
            <option value="g">Gramos</option>
            <option value="L">Litros</option>
            <option value="pz">Piezas</option>
        </select>
    </div>
    <input id="txtId" name="txtId" type="hidden">

{% endmacro %}
{% macro form_ventas() %}
<div class="form-group col-12 p-0 mb-2">
    <label for="lstCliente" class="form-control-label form-label">Cliente</label>
    <select id="lstCliente" name="lstCliente" class="form-control form-element col-12" required>

    </select>
</div>    
<div class="form-group col-12 p-0 mb-2">
    <label for="txtFecha" class="form-control-label form-label">Fecha</label>
    <input id="txtFecha" name="txtFecha" type="date" class="form-control form-element col-12" required>
</div>
<div class="form-group col-12 p-0 mb-2">
    <label for="txtComentarios" class="form-control-label form-label">Comentarios</label>
    <textarea class="form-control form-element col-12" id="txtComentarios" name="txtComentarios" rows="3" required></textarea>
</div>
<input id="txtId" name="txtId" type="hidden">
{% endmacro %}

{% macro form_ventas() %}
    <div class="form-group col-12 p-0 mb-2">
        <label for="lstCliente" class="form-control-label form-label">Cliente</label>
        <select id="lstCliente" name="lstCliente" class="form-control form-element col-12" required>

        </select>
    </div>    
    <div class="form-group col-12 p-0 mb-2">
        <label for="txtFecha" class="form-control-label form-label">Fecha</label>
        <input id="txtFecha" name="txtFecha" type="date" class="form-control form-element col-12" required>
    </div>
    <div class="form-group col-12 p-0 mb-2">
        <label for="txtComentarios" class="form-control-label form-label">Comentarios</label>
        <textarea class="form-control form-element col-12" id="txtComentarios" name="txtComentarios" rows="3" required></textarea>
    </div>
    <input id="txtId" name="txtId" type="hidden">
{% endmacro %}

{% macro render_table(objects, type) %}
<div class="table-responsive col-12">
    <table class="table table-striped" id="tabla">
        <thead class="text-white" style="background-color: #73787e;">
            <tr>
                {% if type=="clientes" %}
                    {{header_clientes()}}
                {% elif type=="proveedores" %}
                    {{header_proveedores()}}
                {% elif type=="productos" %}
                    {{header_productos()}}
                {% elif type=="ejemplares" %}
                    {{header_ejemplares()}}
                {% elif type=="materia" %}
                    {{header_materia()}}
                {% elif type=="compras" %}
                    {{header_compras()}}
                {% elif type=="compras_detalles" %}
                    {{header_detalles_compras()}}
                {% elif type=="admin" %}
                    {{header_admin()}}
                {% elif type=="ventas" %}
                    {{header_ventas()}}
                {% endif %}
            </tr>
        </thead>
        <tbody class="text-black">
            {% if type=="clientes" %}
                {{table_clientes(objects)}}
            {% elif type=="proveedores" %}
                {{table_proveedores(objects)}}
            {% elif type=="productos" %}
                {{table_productos(objects)}}
            {% elif type=="ejemplares" %}
                {{table_ejemplares(objects)}}
            {% elif type=="materia" %}
                {{table_materia(objects)}}
            {% elif type=="compras" %}
                {{table_compras(objects)}}
            {% elif type=="compras_detalles" %}
                {{table_compras_detalle(objects)}}
            {% elif type=="admin" %}
                {{table_admin(objects)}}
            {% elif type=="ventas" %}
                {{table_ventas(objects)}}
            {% endif %}
        </tbody>
    </table>
</div>
{% endmacro %}

{% macro render_form(type,proveedor = null,materias = null,ida = null) %}
    {% if type=="clientes" %}
        {{form_clientes()}}
    {% elif type=="proveedores" %}
        {{form_proveedores()}}
    {% elif type=="productos" %}
        {{form_productos()}}
    {% elif type=="ejemplares" %}
        {{form_ejemplares()}}
    {% elif type=="materia" %}
        {{form_materia()}}
    {% elif type=="compras" %}
        {{form_compras(proveedor)}}
    {% elif type=="compras_detalles" %}
        {{form_compras_detalles(materias,ida)}}
    {% elif type=="admin" %}
        {{form_admin()}}
    {% elif type=="ventas" %}
        {{form_ventas()}}
    {% endif %}
{% endmacro %}
