<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/bootstrap/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/bootstrap/bootstrap/css/bootstrap.min.css">
        <script type="text/javascript" src="../static/bootstrap/jquery/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="../static/bootstrap/bootstrap/js/popper.min.js"></script>
        <script type="text/javascript" src="../static/bootstrap/bootstrap/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <script src="{{ url_for('static',filename='js/materia.js') }}"></script>
        <script src="{{ url_for('static',filename='js/compra.js') }}"></script>
        <script src="{{ url_for('static',filename='js/cliente.js') }}"></script>
        <script src="{{ url_for('static',filename='js/productos.js') }}"></script>
        <script src="{{ url_for('static',filename='js/proveedores.js') }}"></script>
        <script src="{{ url_for('static',filename='js/admin.js') }}"></script>
        <script src="{{ url_for('static',filename='js/ejemplares.js') }}"></script>
        <script src="{{ url_for('static',filename='js/venta.js') }}"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.css"/>
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.js"></script>
        <script src="{{ url_for('static',filename='js/tabla.js') }}"></script>
        <title>Contoso</title>
    </head>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top p-3" style="background-color: #0f5398;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_toggler" aria-controls="navbar_toggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar_toggler">
            <a class="navbar-brand ml-3" href="#">Fusion Solution</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                {% if(current_user.roles[0].name == "admin")%}
                <li class="nav-item mr-4">
                    <a class="nav-link" href="/base">Inicio</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" href="{{ url_for('ventas.getAll') }}">Ventas</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" href="{{ url_for('admin.getAll') }}">Admin</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" href="{{ url_for('compras.getAll') }}">Compras</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" href="{{ url_for('clientes.getAll') }}">Clientes</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" href="{{ url_for('proveedores.getAll') }}">Proveedores</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" href="{{ url_for('productos.getAll') }}">Productos</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" href="{{ url_for('materias.getAll') }}">Materia Prima</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" href="/security/logout">Cerrar Sesión</a>
                </li>
                {%endif%}
                {% if(current_user.roles[0].name == "almacenista")%}
                <li class="nav-item mr-4">
                    <a class="nav-link" href="/base">Inicio</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" href="{{ url_for('productos.getAll') }}">Productos</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" href="{{ url_for('materias.getAll') }}">Materia Prima</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" href="/security/logout">Cerrar Sesión</a>
                </li>
                {%endif%}
                {% if(current_user.roles[0].name == "surtidor")%}
                <li class="nav-item mr-4">
                    <a class="nav-link" href="/base">Inicio</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" href="{{ url_for('compras.getAll') }}">Compras</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" href="{{ url_for('materias.getAll') }}">Materia Prima</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" href="{{ url_for('proveedores.getAll') }}">Proveedores</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" href="/security/logout">Cerrar Sesión</a>
                </li>
                {%endif%}
                {% if(current_user.roles[0].name == "vendedor")%}
                <li class="nav-item mr-4">
                    <a class="nav-link" href="/bas/">Inicio</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" href="/ventas/">Ventas</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" href="{{ url_for('clientes.getAll') }}">Clientes</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" href="/security/logout">Cerrar Sesión</a>
                </li>
                {%endif%}
            </ul>
        </div>
    </nav>
    <body style="background-color: #f3f3f3;">
        <div class="container-fluid mt-5 p-5">
            {% block content %}

            {% endblock %}
        </div>
    </body>
    <script src="https://cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"></script>
</html>