{% extends "master.html" %}

{% from "macros.html" import render_table %}
{% from "macros.html" import render_form %}

{% block content %}
<div class="row col-12 justify-content-center p-0 m-0">
    <div class="row col-10 justify-content-center p-0 m-0">
        <h3 class="h3 col-12 text-center mb-3 text-black">Productos</h3>
        <div class="row col-12 justify-content-center mb-3">
            <a onclick="agregarProducto()" class="btn-small btn-rose btn mr-2 text-white"><i class="fas fa-plus mr-2"></i>Agregar</a>
            <input id="txtBusqueda" name="txtBusqueda" type="text" class="form-control search col-8" placeholder="Buscar Productos">
            <button href="#" class="btn-small btn btn-search"><i class="fas fa-search"></i></button>
        </div>
        {{render_table(productos, "productos")}}
    </div>
</div>

<div class="modal fade" id="modalProductos" tabindex="-1" role="dialog" aria-labelledby="modalProductosLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalProductosLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            {{render_form("productos")}}
        </div>
        <div class="modal-footer">
          <button id="btnSiguiente1" onclick="siguienteProductos()" class="btn btn-success">Siguiente</button>
          <button id="btnSiguiente2" onclick="editarProducto()" class="btn btn-success">Siguiente</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalProductos2" tabindex="-1" role="dialog" aria-labelledby="modalProductosLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalProductosLabel2">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          <div class="col-12 mb-0">
            <div class="modal-body">
              <div class="form-group col-12 p-0 mb-2">
                <label for="lstMateriaP" class="form-control-label form-label">Materia Prima</label>
                <select id="lstMateriaP" name="lstMateriaP" class="form-control form-element col-12" required>
                </select>
            </div>
            <div class="form-group col-12 p-0 mb-4">
                <label for="txtCantidadM" class="form-control-label form-label">Cantidad</label>
                <input id="txtCantidadM" name="txtCantidadM" type="textarea" class="form-control form-element col-12" required>
            </div>
            <div class="form-group col-12 p-0">
                <button id="btnAgregarMateriaP" onclick="agregarMateriaP()" class="btn btn-outline-primary col-12">Agregar</button>
                <button id="btnAgregarMateriaP2" onclick="agregarMateriaP2()" class="btn btn-outline-primary col-12">Agregar</button>
            </div>
          </div>
          <div class="table-resposive col-12">
              <table class="table table-striped">
                  <thead class="text-white" style="background-color: #DB7B7B;">
                      <tr>
                          <th>Materia Prima</th>
                          <th>Cantidad</th>
                          <th></th>
                      </tr>
                  </thead>
                  <tbody id="tblDetalleProducto" class="text-black">
          
                  </tbody>
              </table>
          </div>
        </div>
        <div class="modal-footer">
          <button id="btnGuardarProducto" onclick="guardarProducto()" class="btn btn-success">Guardar</button>
          <button id="btnGuardarProducto2" onclick="guardarProducto2()" class="btn btn-success">Guardar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}