{% extends "base.html" %} {% block content %}
<form action="{{url_for('main.cliente_add')}}" method="post">
    <input type="text" name="nombre_empresa" id="nombre_empresa" placeholder="Ingresa el nombre de la empresa">
    <input type="email" name="email" id="email" placeholder="Ingresa el correo electronico">
    <input type="text" name="telefono" id="telefono" placeholder="Ingresa el telefono">
    <input type="text" name="rfc" id="rfc" placeholder="Ingresa el RFC de la empresa"> 
    <input type="text" name="direccion" id="direccion" placeholder="Ingresa la dirección">
    <input type="text" name="contacto" id="contacto" placeholder="Ingresa el nombre del contacto"> 
    <input type="submit" value="Registrar">
</form>
{% endblock %}