{% extends "base.html" %} {% block content %} {% if clientes|length > 0 %}
<a href="{{url_for('main.cliente_add')}}">Registrar</a>
<table>
    <thead>
        <tr>
            <th>Nombre de la empresa</th>
            <th>Correo electronico</th>
            <th>Telefono</th>
            <th>RFC</th>
            <th>Dirección</th>
            <th>Contacto</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {%for cliente in clientes%}
        <tr id="{{cliente.id}}">
            <th scope="row">{{cliente.nombre_empresa}}</th>
            <td>{{cliente.email}}</td>
            <td>{{cliente.telefono}}</td>
            <td>{{cliente.rfc}}</td>
            <td>{{cliente.direccion}}</td>
            <td>{{cliente.contacto}}</td>
            <td><a href="{{url_for('main.cliente_edit',id=cliente.id)}}">Editar</a><a onclick="eliminarCliente({{cliente.id}})">Eliminar</a></td>
        </tr>
        {%endfor%}
    </tbody>
</table>

{% else %}
<p>No tienes clientes registrados</p>
<a href="{{url_for('main.cliente_add')}}">Registrar</a> {% endif %} {% endblock %}